.topbar {
  height:50px;
  background-color:black;
  width:100%;
}

.logo {
  width: 30px;
  height: 30px;
  top: 9px;
  position: relative;
  left:5%
}

.page-title {
  color:white;
  position:relative;
  left:7%;
  top:2px;
  font-size:25px;
  font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.content {
  width:90%;
  min-width:1100px;
  margin:auto;
}
.team {
  display:inline-block;
  width:600px;
}  
.team h1 {
  width:200px;
  margin:auto;
  margin-bottom:20px;
  text-align:center;
}

#scoreline {
  width:480px;
  margin:auto;
  height:100px;
}

#scoreline img {
  width:100px;
  margin-left:30px;
  margin-right:30px;
}
#scoreline div {
  display:inline;
  font-size:50px;
  position:relative;
  top:25px;
}

.team-name {
  text-align:center;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position:relative;
  left:50px;
}

#video {
  display:none;
  position:relative;
  width:604px;
  margin:auto;
}

#close-video, #vidormove {
  float:right;
  margin-right:5px;
}

#close-video:active {
  background-color:black;
  border-radius:100px;
}

#close-video:focus, #vidormove:focus {
  outline:none;
}

#schedule h2 {
  position:relative;
  top:-10px;
  width:400px;
  margin:auto;
  text-align:center;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


#game-data h1 {
  width:400px;
  margin:auto;
  margin-top:30px;
  text-align:center;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

table {
  border:solid;
  border-width:1px;
  border-radius:3px;
  display:block;
}
.box-table tr td:first-child {
  width:140px;
}

.box-table tr:nth-child(odd) {
  background-color:#F0F0F0;
}

h3 {
  margin-left:8%;
}
.box-table tr:hover, .box-table tr:nth-child(odd):hover {
  background-color:#FFFFCC;
}

.box-table tr:first-child, .box-table tr:first-child:hover {
  background-color:#D0D0D0;
}

td, th {
  text-align:center;
}
.scoring-title {
  width:100px;
  margin:auto;
}
#team-names {
  float:left;
  font-size:40px;
  height:500px;
}
#home-name {
  position:relative;
  top:390px;
}
#away-name {
  position:relative;
  top:200px;
}
#playbyplay {
  display:block;
  width:100%;
  margin:auto;
}
#pbpchart {
  display:inline-block;
  margin:auto;
}

.team-box {
  margin-top:50px;
}

.boxscore {
  float:left;
  margin-left:3%;
  width:60%;
  min-width:700px;
}
.charts {
  display:inline-block;
  min-width:280px;
  width:25%;
  margin:auto;
  position:relative;
  top:70px;
}
.pie {
  display:inline-block;
  min-width:270px;
  width:24%;
  margin:auto;
}
.stats {
  display:block;
  width:100%;
  margin:0 auto;
}
#datepicker {
  width:80px;
  position:relative;
  top:10px;
  text-align:center;
}
.move-btn {
  position:relative;
  top:10px;
  border:none;
  outline:none;
  background-color:#999999;
}
.move-btn:hover {
  background-color:#CCCCCC;
}
#schedule {
  position:relative;
  top:20px;
  width:100%;
  margin:auto;
}
.schedule-game {
  position:relative;
  display:inline-block;
  margin-left:20px;
  height:45px;
  width:100px;
  background-color:white;
  border-radius:5px;
  cursor:pointer;
}
.schedule-game:hover {
  background-color:#99CCFF;
}

.period {
  font-size:11px;
  top:0px;
  position:absolute;
  width:50px;
  margin:auto;
  text-align:center;
}
.game-live {
  color:red;
}

.info {
  font-size:12px;
  top:12px;
  position:absolute;
  width:50px;
  margin:auto;
  text-align:center;
}

.schedule-game div {
  position:absolute;
  bottom:0px;
  text-align:center;
  width:100px;
}
#away-score {
  float:left;
}
#home-score {
  float:right;
}
#home-logo {
  float:right; 
}
#away-logo {
  float:left;
}
.home-logo {
  float:right; 
}
.away-logo {
  float:left;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
