.topbar {
  height:50px;
  background-color:black;
  width:100%;
}

.logo {
  width: 30px;
  height: 30px;
  top: 9px;
  position: relative;
  left:5%
}

.page-title {
  color:white;
  position:relative;
  left:7%;
  top:2px;
  font-size:25px;
  font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

#cover {
  position:absolute;
  width:100%;
  height:100vh;
  background-color:#C5DBEC;
  z-index:1000000;
  text-align:center;
  font-size:100px;
}

.content {
  width:90%;
  min-width:1100px;
  margin:auto;
}
.team {
  display:inline-block;
  width:600px;
}  
.team h1 {
  width:200px;
  margin:auto;
  margin-bottom:20px;
  text-align:center;
}

#scoreline {
  width:480px;
  margin:auto;
  height:100px;
	position:relative;
	background-color:wheat;
	border-radius:10px;
}

#scoreline img {
  width:100px;
  margin-left:30px;
  margin-right:30px;
}


#game-date {
	font-size:15px;
	text-align:center;
	margin-top:10px;
	font-weight:bold;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.team-score {
	font-size:50px;
  display:inline;
  position:relative;
  top:25px;
}

#scoreline div {
}

.team-name {
  text-align:center;
  transform: rotate(-90deg);
  transform-origin: left top 0;
	-webkit-transform: rotate(-90deg);
  -webkit-transform-origin: left top 0;
  position:relative;
  left:30px;
}

#video {
  display:none;
  position:relative;
  width:604px;
  margin:auto;
}

#close-video, #vidormove {
  float:right;
  margin-right:5px;
}

#close-video:active {
  background-color:black;
  border-radius:100px;
}

#close-video:focus, #vidormove:focus {
  outline:none;
}

#schedule h2 {
  position:relative;
  top:-10px;
  width:400px;
  margin:auto;
  text-align:center;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.threepointer {
  font-size:7px;
  font-weight:900;
  pointer-events:none;
}

#game-data h1 {
  width:400px;
  margin:auto;
  margin-top:30px;
  text-align:center;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.box-table {
  border:solid;
  border-width:1px;
  border-radius:3px;
}

.box-table tr, td {
	height:20px;
}

.box-table tr td:first-child {
  width:140px;
}

.box-table tr:nth-child(odd) {
  background-color:#E0E0E0;
}
.box-table tr:nth-child(even) {
  background-color:#F5F5F5;
}

h3 {
  margin-left:8%;
}
.box-table tr:hover, .box-table tr:nth-child(odd):hover {
  background-color:#FFFFCC;
}

.box-table tr:first-child, .box-table tr:first-child:hover {
  background-color:#C0C0C0;
}

td, th {
  text-align:center;
}
.scoring-title {
  width:100px;
  margin:auto;
}
#team-names {
  float:left;
  font-size:40px;
  height:500px;
}
#home-name {
  position:relative;
  top:390px;
}
#away-name {
  position:relative;
  top:200px;
}
#playbyplay {
  display:block;
  width:100%;
  margin:auto;
}

.legend-text {
	fill:black;
}

#pbpchart {
  display:inline-block;
  margin:auto;
	background-color:white;
	border-radius:10px;
	margin-top:20px;
}

#pbp-note {
  font-size:12px;
  margin-bottom:5px;
  margin-left:20px;
}

.tick {
	fill:black;
}

.team-box {
}
.box-container {
	margin-top:50px;
	border-radius:10px;
	background-color:#C5DBEC;
}

.boxscore {
  float:left;
  margin-left:3%;
  width:50%;
  min-width:632px;
}
.charts {
  display:inline-block;
  min-width:280px;
  width:25%;
  margin:auto;
  position:relative;
  top:30px;
	left:10%;
	height:350px;
}
.pie {
  display:inline-block;
  min-width:270px;
  width:24%;
  margin:auto;
	margin-top:10px;
}
.stats {
  display:block;
  width:100%;
  margin:0 auto;
	border-radius:10px;
	background-color:#C5DBEC;
	margin-bottom:30px;
}
.stats .pie {
	position:relative;
	top:30px;
  margin:auto;
}

#datepicker {
  width:80px;
  position:relative;
  top:10px;
  text-align:center;
}
.move-btn {
	height:19px;
	width:19px;
  position:relative;
  top:10px;
  border:none;
  outline:none;
  background-color:#999999;
}
.move-btn:hover {
  background-color:#CCCCCC;
}
#schedule {
  position:relative;
  top:20px;
  width:95%;
  margin:auto;
}
.schedule-game {
  position:relative;
  display:inline-block;
  margin-left:20px;
  height:45px;
  width:100px;
  background-color:#C5DBEC;
	margin-top:5px;
  border-radius:5px;
  cursor:pointer;
}
.schedule-game-2nd {
}


.schedule-game:hover {
  background-color:#99CCFF;
}

.period {
  font-size:11px;
  top:0px;
  position:absolute;
  width:50px;
  margin:auto;
  text-align:center;
}
.game-live {
  color:red;
}

.info {
  font-size:12px;
  top:12px;
  position:absolute;
  width:50px;
  margin:auto;
  text-align:center;
}

.schedule-game div {
  position:absolute;
  bottom:0px;
  text-align:center;
  width:100px;
}
#away-score {
  float:left;
	left:10px;
}
#home-score {
  float:right;
	right:10px;
}
#home-logo {
  float:right; 
}
#away-logo {
  float:left;
}
.home-logo {
  float:right; 
}
.away-logo {
  float:left;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
	background-color:#F5F5F5;
}

.lineups {
	width:900px;
	position:relative;
	left:10%;
}

.lineup-player {
	display:inline-block;
	width:105px;
	margin-left:10px;
	margin-right:10px;
}

.lineup-name {
	display:block;
  width:100px;
  margin:auto;
	text-align:center;
}

.lineup-pic {
	width:100px;
	height:80px;
}

.lineup-used {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	font-size:20px;
	position:relative;
	top:-35px;
	line-height:30px;
	width:70px;
}

.lineup-pm {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	font-size:20px;
	position:relative;
	top:-35px;
	line-height:30px;
	width:70px;
}

.lineup-mins {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	font-size:20px;
	position:relative;
	top:-35px;
	line-height:30px;
	width:70px;
}

.lineup-title {
	margin-top:50px;
	position:relative;
	margin-left:6%;
}

.limit-btn {
	width:25px;
	height:25px;
	margin-left:5px;
}

.limit-btn:active {
  background-color:black;
	border-radius:100px;
}
.limit-btn:focus {
  outline:none;
}

.sort-btn {
	display:inline-block;
}

.arrow {
	position:relative;
	top:4px;
	float:right;
	width:20px;
	height:20px;
}

#comparison {
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
